// IRIDA Next Config
iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "id"
            global = [
                "**/MeaSeq_Report.html",
                "**/Amplicon-Summary-MultiQC-Report_multiqc_report.html",
                "**/pipeline_info/measeq_software_mqc_versions.yml"
            ]
            samples = [
                "**/consensus/*.N450.fasta",
                "**/consensus/*.consensus.fasta",
                "**/vcf/processed_vcf/*.processed.norm.vcf.gz"
            ]
        }
        metadata {
            samples {
                csv {
                    path = "**/overall.qc.csv"
                    idcol = "sample"
                }
            }
        }
    }
}
