/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    phac-nml/measeq Nextflow reference config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file for references to be used when there is no specified reference
    in the run command.
----------------------------------------------------------------------------------------
*/

params {
    // Map for references
    B3_ref          = "${projectDir}/assets/reference/B3/MK513622.1.reference.fasta"
    D8_ref          = "${projectDir}/assets/reference/D8/MH356245.1.reference.fasta"
    A_ref           = "${projectDir}/assets/reference/A/FJ211590.fasta"
    default_ref     = "${projectDir}/assets/reference/D8/MH356245.1.reference.fasta"

    // Map for primers
    B3_bed          = "${projectDir}/assets/reference/B3/primers.bed"
    D8_bed          = "${projectDir}/assets/reference/D8/primers.bed"
    A_bed           = "${projectDir}/assets/reference/A/primers.bed"
    default_bed     = "${projectDir}/assets/reference/D8/primers.bed"
}
